* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #2b2b2b;
    background: #fff;
}

.container {
    width: 1260px;
    margin: auto;
}

/* HEADER  */
.header {
    background: #ffffff;
    border-bottom: 1px solid #eee;
}

.nav-wrapper {
    width: 1260px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 10px 0;
}

.logo img {
    width: 130px;
    height: 130px;
    object-fit: cover;
    border-radius: 50%;
}

.nav-left,
.nav-right {
    display: flex;
    gap: 56px;
}

.nav-left {
    justify-content: center;
}

.nav-right {
    justify-content: center;
}

.nav-left a,
.nav-right a {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #2b2b2b;
    position: relative;
}

.nav-right a i {
    font-size: 20px;
}

.nav-left a::after,
.nav-right a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0;
    height: 2px;
    background: #b89045;
    transition: width 0.3s ease;
}

.nav-left a:hover::after,
.nav-right a:hover::after {
    width: 100%;
}

/* Hero CSS */
.hero {
    display: flex;
    justify-content: space-evenly;
}

.img-box {
    width: 50%;
}

.prod-img {
    width: 35vw;
    height: 80vh;
    object-fit: cover;
    margin-left: 10vw;
}

.order {
    width: 50%;
    padding: 25px;

}

.order h4 {
    padding: 4px;
}

.order h2 {
    font-family: roboto;
    font-size: 34px;
    font-weight: 500;
    color: black;
    margin-bottom: 20px;
    text-decoration: underline;
    margin-top: 10px;
}

.rating {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.rating i {
    font-size: 12px;
    color: #d99726;
}

.rating p {
    margin-left: 10px;
}

.price {
    font-size: poppins;
    font-size: 19px;
    font-weight: 500;
    margin-bottom: 20px;
}

.counter {
    display: flex;
    gap: 20px;
    margin-right: 80px;
    margin-top: 45px;
}

.counter button {
    padding: 6px 14px;
    border-radius: 8px;
    border: none;
    background-color: black;
    color: white;
}

.counter p {
    font-size: poppins;
    font-size: 19px;
    font-weight: 500;
}

.btn {
    padding: 18px 20vw;
    background-color: black;
    color: white;
    border-radius: 50px;
    border: none;
    margin-bottom: 10px;
    margin-top: 30px;
}

.weight-btn button{
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 20px;
    margin-top: 15px;
    cursor: pointer;
}
.weight-btn button.clicked{
    padding: 10px 20px;
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 20px;
    margin-top: 15px;
    cursor: pointer;
}
label {
    display: block;
    margin: 10px 0;
}

button {
    padding: 10px 20px;
    background: #0da70d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Popup */
.popup {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
}

.popup-box {
    background: white;
    padding: 20px;
    width: 250px;
    margin: 150px auto;
    text-align: center;
    border-radius: 8px;
}



.modal-overlay {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

/* Show the modal */
.modal-overlay.show {
    display: block;
}

/* The modal box */
.modal-box {
    background: white;
    width: 90%;
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

/* Close button */
.modal-close {
    position: absolute;
    right: 12px;
    top: 8px;
    font-size: 24px;
    border: none;
    background: none;
    cursor: pointer;
    color: black;
}